<footer id="footer">
	<p> Copyright &copy; 2020 - Bryan Arévalo </p>
</footer>	
<script src="https://kit.fontawesome.com/62c0cdcf73.js" crossorigin="anonymous"></script>
<script src="/js/main.js" type="text/javascript"></script>	

</body>
</html>