<nav class="bgWhite" id="backgroundColor">
	<div class="section">
		<div class="logo">
			<a href="/" id="text">Sakura</a>
		</div>
		<div class="links">
			<a href="/" class="start">Inicio</a>
			<a href="/list" class="news">Noticias</a>
		</div>
	</div>
</nav>
<% include colorSchema.ejs %>
<% include btn.ejs %>