<div class="title " id="text">
	<%= news.title %>
</div>
<div class="content">
	<img src="/img/welcome.jpg">
	<div class="text" id="text"><%= news.content %></div>
	<div class="category">
		<div class="titleCategory" id="text">Categorías:</div>
		<a href="/category/<%= news.category %>" class="categoryList" ><%= news.category %></a>
	</div>
</div>

