<div class="search">
	<input type="text" placeholder="Search">
	<i class="fas fa-search"></i>
</div>
<div class="categories">
	<% for(var i = 0; i < news.length; i++) {%>
		<a href="/category/<%=news[i].category%>" class="category"><%=news[i].category%></a>
	<%}%>
</div>