<% include partials/head.ejs %>


<div class="container">
	<div class="overlay">
		<div class="Welcome">
			<h1>Sakura News</h1>
			<h2>Todas las noticias disponibles en un solo lugar</h2>
		</div>
	</div>
	
</div>
<div class="containerNews">
	<div class="news bgWhite" id="backgroundColor">
		<% include partials/cards.ejs %>
	</div>
	<div class="sidebar">
		<% include partials/sidebar.ejs %>
	</div>
</div>



<% include partials/footer.ejs %>