<% include partials/head.ejs %>
<% include partials/btn.ejs %>

<div class="containerNews mt">
	<div class="news bgWhite" id="backgroundColor">
		<% include partials/allcards.ejs %>
	</div>
	<div class="sidebar">
		<% include partials/sidebar.ejs %>
	</div>
</div>
<% include partials/footer.ejs %>