<% include partials/head.ejs %>
<div class="containerNews mt">
	<div class="news bgWhite" id="backgroundColor">
		<% include partials/newData.ejs %>
	</div>
	<div class="sidebar">
		<% include partials/sidebar.ejs %>
	</div>
	<% include partials/comments.ejs %>
</div>

<% include partials/footer.ejs %>